<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <link rel="stylesheet" href="/css/nes-core.min.css">
    
    <title>Mausritter</title>
</head>
<body>
    <div class="nes-container is-rounded is-dark">
        <span class="nes-text"><%- text %></span>
        
        
        <table>
            <tr>
                <td><input type="text" id="command" class="nes-input is-dark"></td>
                <td><button type="button" class="nes-btn is-primary" id="go">Go</button></td>
            </tr>
        </table>
        
    </div>

    <script>
        // empty the text box
        document.querySelectorAll('#command')[0].value = ''
        
        document.querySelectorAll('#go')[0].addEventListener('click', ()=>{
            let command = document.querySelectorAll('#command')[0].value
            let words = command.split(' ')
            let path = words.join('/')
                       
            location.href = `/${path}`
        })
    </script>

    

</body>
</html>
